* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #06171e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh
}

.header-nav {
  height: 100px;
  background-color: #09212a;
  display: flex;
  justify-content: center;
}

.header-nav-inner {
  max-width: 1440px;
  width: 100%;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 120px;
  margin-bottom: 120px;
  overflow-y: auto;
  max-width: 1440px;
}

h1 {
  text-align: center;
  font-family: Figtree;
  font-size: 56px;
  font-weight: 800;
  color: white;
}

.galerie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 80px;
}

.img-klein-ansicht {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #124658;
  border-radius: 16px;
  object-fit: cover;
}

.img-klein-ansicht:hover {
  border-color: #6bc1e1;
}

/*Footer*/

footer {
  height: 120px;
  background-color: #09212a;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #627B84;
  max-width: 1440px;
}

.logo-footer {
  height: 32px;
}

.copyright {
  font-family: Figtree;
  font-weight: 400;

}

.dialog-mode {
  border: 10px;
  border-color: rgb(235, 32, 32);
  border-radius: 10%;
}

dialog-mode::backdrop {
  background-color: #272727;
}

@font-face {
  font-family: Figtree;
  src: url("./fonts/Figtree-VariableFont_wght.ttf");
}



@media screen and (max-width: 1024px) {
  h1 {
    text-align: center;
    font-family: Figtree;
    font-size: 48px;
    font-weight: 800;
    color: white;
  }

  .header-nav-inner {
    justify-content: center;
  }

  .content {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .galerie {
    margin-top: 80px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
    font-family: Figtree;
    font-size: 48px;
    font-weight: 800;
    color: white;
  }

  .header-nav-inner {
    justify-content: center;
  }


  .content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .galerie {
    margin-top: 40px;
  }
}