* {
  padding: 0;
  margin: 0;
}

/*fonts and headlines*/

@font-face {
  font-family: Figtree;
  src: url("./fonts/Figtree-VariableFont_wght.ttf");
}

h1 {
  text-align: center;
  font-family: Figtree;
  font-size: 56px;
  font-weight: 800;
  color: white;
}

h2 {
  font-family: Figtree;
  font-weight: 700;
  font-size: 24px;
}

body {
  background-color: #06171e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*Header*/
.header-nav {
  height: 80px;
  background-color: #09212a;
  display: flex;
  justify-content: center;
}

.header-nav-inner {
  max-width: 1440px;
  width: 100%;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 40px;
}

/*Content section*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 120px;
  margin-bottom: 120px;
  overflow-y: auto;
  max-width: 1440px;
}

.galerie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
}

.img-klein-ansicht {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #124658;
  border-radius: 16px;
  object-fit: cover;
}

.img-klein-ansicht:hover {
  border-color: #6bc1e1;
  cursor: pointer;
}

/*Footer*/

.footer-global {
  height: 120px;
  background-color: #09212a;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-global-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #627B84;
  max-width: 1440px;
}

.logo-footer {
  height: 32px;
}

.copyright {
  font-family: Figtree;
  font-weight: 400;
}

/*Dialog mode*/
.dialog-mode {
  background-color: #09212A;
  border-radius: 40px;
  border-style: solid;
  border: 2px;
  border-color: #09212A;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 1000px;
}

.dialog-mode-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 60px;
  width: auto;
}

dialog::backdrop {
  background: rgba(5, 22, 32, 0.8);
  backdrop-filter: blur(5px);
}

/*Header Dialog*/
.header-inner-dialog {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kreuz-schließen {
  height: 30px;
  width: 30px;
}

.kreuz-schließen:hover {
  content: url("./img/kreuz-hover.png");
  cursor: pointer;
}

.kreuz-schließen:active {
  content: url("./img/kreuz-while\ pressing.png");
  cursor: pointer;
}

/*Section Dialog*/

.dialog-section-big-img {
  width: 100%;
}

.big-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

/*Footer Dialog*/
.footer-inner-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.previous-img {
  height: 60px;
  width: 60px;
}

.previous-img:hover {
  content: url("./img/pfeil-left-hover.png");
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.next-img {
  height: 60px;
  width: 60px;
}

.next-img:hover {
  content: url("./img/pfeil-right-hover.png");
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.img-number {
  color: white;
  font-family: Figtree;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/*Responsive*/

@media screen and (max-width: 1024px) {
  h1 {
    text-align: center;
    font-family: Figtree;
    font-size: 48px;
    font-weight: 800;
    color: white;
  }

  .content {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .galerie {
    margin-top: 80px;
  }

  .footer-inner-dialog {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
    font-family: Figtree;
    font-size: 44px;
    font-weight: 800;
    color: white;
  }

  .header-nav-inner {
    justify-content: center;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .galerie {
    margin-top: 40px;
  }

  .footer-inner-dialog {
    gap: 40px;
  }

  .dialog-mode-inner {
    padding: 40px;
  }
}

@media screen and (max-width: 468px) {
  h1 {
    text-align: center;
    font-family: Figtree;
    font-size: 40px;
    font-weight: 800;
    color: white;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .header-nav-inner {
    justify-content: center;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .galerie {
    margin-top: 40px;
  }

  .dialog-mode-inner {
    padding: 30px 20px;
    gap: 30px;
  }

  .big-img {
    width: 100%;
    height: 400px;
  }

  /*Footer Dialog*/
  .footer-inner-dialog {
    gap: 40px;
  }

  .img-number {
    font-size: 14px;
  }

  .previous-img {
    height: 50px;
    width: 50px;
  }

  .previous-img:hover {
    height: 50px;
    width: 50px;
  }

  .next-img {
    height: 50px;
    width: 50px;
  }

  .next-img:hover {
    height: 50px;
    width: 50px;
  }

}